/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: #763626 ;
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
    font-family: sans-serif;
}

.contenedor{
	background-color: #90AFC5;
    padding: 45px; 
    border-radius: 10px; 
    max-width: 400px;
    width: 400px;
}

.label{
	display: block;
	margin-bottom: 8px;
    font-weight: bold;
    font-size: 22px;
    color: #2A3132

}

.textbox{
	display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #336b87; 
    border-radius: 5px; 
    background-color: #e0f2f1; 
}

h1{
	font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #2A3132; 
}

.input-readonly {
    background-color: #e0e0e0; 
    cursor: not-allowed; 
    background-color: #e0e0e0; 
    cursor: not-allowed; 
  
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #336b87; 
    border-radius: 5px; 
    background-color: #e0f2f1; 
}

button {
    border: 2px;
    border-color: #000000;
    border-radius: 5px;
    color: #ffff;
    background-color: #336b87; 
    font-size: 16px;
    cursor: pointer;
    width: 110px; 
    height: 40px; 
    text-align: center; 
    line-height: 40px; 
    overflow: hidden; 
    white-space: nowrap; 
}

button:hover {
    background-color: #763626 ; 
}



	 




